@import "navbarstyles.css";
@import "formsstyles.css";

* {
    font-family:Arial, Helvetica, sans-serif;
}
/* Размер шрифта */
.small-font {
    font-size: 12px;
}

.std-font {
    font-size: 16px;
}

.large-font {
    font-size: 20px;
}